*.log
**/.ipynb_checkpoints/
**/__pycache__/
asvspoof2021/LA/Baseline-RawNet2-bio/models/
asvspoof2021/LA/Baseline-RawNet2-bio/models_tts_vc_train/
asvspoof2021/LA/Baseline-RawNet2-bio/logs_tts_vc_train/
asvspoof2021/LA/Baseline-RawNet2-bio/logs/
asvspoof2021/LA/Baseline-RawNet2-bio/feats/add/
asvspoof2021/LA/Baseline-RawNet2-bio/feats/aug/
asvspoof2021/LA/Baseline-RawNet2-bio/feats/eval_2021/
asvspoof2021/LA/Baseline-RawNet2-bio/feats/for/
asvspoof2021/LA/Baseline-RawNet2-bio/docs
asvspoof2021/LA/bio_variable/feats/
DFAnalysis/
test_data/
voxseg/

biosegment/.ipynb_checkpoints/
*.zip
*.gz
asvspoof2021/eval-package/keys/

# for distialtion
distillation/logs
distillation/models
distillation/feats
distillation/test_softmax_logsoftmax_scores.txt

**/logs/
**/models/

**/feats/*
distillation/wav2vec_bio_emb/